---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import Avatar from './_avatar.jpeg'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { post: entry },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title={post.data.title}>
  <main class="w-full flex flex-col items-center overflow-x-hidden">
    <Image
      src={post.data.banner}
      alt={post.data.title}
      loading="eager"
      draggable={false}
      class="object-cover select-none w-full banner"
      style={{
        objectPosition: post.data.banner_position,
      }}
    />
    <h1 class="text-3xl md:text-6xl mb-6 px-4">{post.data.title}</h1>
    {
      post.data.excerpt && (
        <p class="text-gray-300 text-xl mb-6 px-4">{post.data.excerpt}</p>
      )
    }
    <Image
      src={Avatar}
      alt="Avatar"
      class="w-10 h-10 md:w-16 md:h-16 rounded-full object-cover"
      draggable={false}
      loading="eager"
    />
    <div
      class="max-w-4xl w-full mt-8 px-4 md:mt-16 mb-32 prose prose-invert prose-lg lg:prose-2xl"
    >
      <Content />
    </div>
  </main>
</Layout>
<style>
  .banner {
    max-height: 60dvh;
    mask-image: linear-gradient(to bottom, black, transparent);
  }
</style>
